<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Howdy Modi!</title>
</head>
<body>
<marquee>
Santhosh Suresh is awesome.
</marquee>
<form method ='post' action="{{url_for('predict')}}">
    <input type="text" name = "exp" placeholder = "Fill this out" required="required" />
    <input type="email" name = "Name" placeholder = "Fill this out" />
    <input type="number" name = "Age" placeholder = "Fill this out" required = "required"/>
    <!-- this is an HTML comment -->
    <!-- notice that HTML tags can also be ended by just using / sign
    at the end of the opening tag itself-->

    <button type ="submit" class ="btm-btm-primary">predict it<!doctype html>
        <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport"
                  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <title>Document</title>
        </head>
        <body>
        
        </body>
        </html></button>

</form>
</body>
</html>